#wrap{
    margin: 6px 20px 20px;
    border: 1px solid #aaa;
    height: 200px;
    width: 480px;
    overflow-y: scroll;
    position: relative;
    border: 1px solid #666;
    border-radius: 4px;
}
#inner-top,
#inner-center,
#inner-bottom{
    text-align: center;
    font-size: 18px;
    letter-spacing: 2px;
}
p{
    margin: 0;
    padding: 30px;
}
#horizontal-left,
#inner-top{
    background-color: #bbb;
}
#horizontal-center,
#inner-center{
    background-color: #999;
}
#horizontal-right,
#inner-bottom{
    background-color: #ddd;
}

.control{
    margin-left: 20px;
}

.control button{
    font-size: 14px;
    font-weight: 600;
    height: 32px;
    width: 60px;
    cursor: pointer;
    border:1px solid #cad1e0;
    border-radius: 4px;
    background:#fff; 
    color:#606266;
    -webkit-user-select:none;
}
.control button:focus,
.control button:hover{
    color:rgba(90, 100, 170, 0.7);
    border-color:rgba(90, 100, 170, 0.7);
    outline:0;
    border-radius:4px;
}
.control button:active{
    color:rgb(90, 100, 170);
    border-color: rgb(90, 100, 170);
    outline:0;
}
#faster{
    margin-left: 160px;
}

#wrap-horizontal{
    margin: 6px 20px 20px;
    border: 1px solid #aaa;
    height: 200px;
    width: 480px;
    overflow-x: scroll;
    overflow-y: hidden;
    position: relative;
    border: 1px solid #666;
    border-radius: 4px;
    display: flex;
    justify-content: flex-start;
}
.horizontal-inner{
    height: 200px;
    line-height: 200px;
    text-align: center;
    flex: 0 0 520px;
    font-size: 18px;
    letter-spacing: 2px;
}